.cart-component{
    padding: 40px 0px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .items{
        width: 68%;
        display: flex;
        flex-direction: column;

        .item{
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            margin-bottom: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
            .prod{
                display: flex;
                img{
                    max-width: 100px;
                    max-height: 100px;
                    margin-right: 10px;
                }
                .info{
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .name{
                        font-weight: 600;
                        font-size: 16px;
                    }
                    .prices{
                        display: flex;
                        .sub{
                            margin-right: 10px;
                            font-size: 14px;
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
                    .specs{
                        .spec-tag:not(:first-of-type){
                            margin-left: 10px;
                        }
                    }
                }
            }
            .actions{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .delete{
                    color: rgba(0, 0, 0, 0.5);
                    font-size: 20px;
                    cursor: pointer;
                    text-align: right;
                }
                .qty-manag{
                    display: flex;
                    align-items: center;
                    .plus, .minus{
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        color: $color_default;
                        border: 1px solid #eeb79c;
                        border-radius: 5px !important;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: white;
                        font-weight: 600;
                        font-size: 16px;
                        transition: all 0.3s ease;
                        &:hover{
                            background-color: $color_default;
                            color: white;
                        }
                        &:disabled{
                            background-color: rgb(223, 223, 223) !important;
                            color: gray;
                            border: none;
                        }
                    }
                    .qty{
                        margin: 0px 5px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .rigth{
        width: 30%;
        height: 480px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        .total{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            color: rgba(0, 0, 0, 0.5);
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            padding-bottom: 15px;
            .price{
                font-size: 16px;
                font-weight: 600;
                color: black;
            }
        }
        .label{
            font-weight: 600;
            margin-bottom: 15px;
        }
        textarea{
            height: 150px;
        }
        .btn.apply-promo{
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            font-weight: 600;
            cursor: pointer;
            background-color: white;
            border: 1px solid $color_default;
            color: $color_default;
            margin-bottom: 15px;
            &:hover, &:active, &:focus{
                background-color: $color_default;
                color: white;
            }
        }
        .btn.checkout{
            width: 100%;
            border-radius: 10px;
        }
    }
}