.page{
    .nav{
        width: 100%;
        position: absolute;
        background-color: #fff;
        transition: all .3s ease-in-out;
        padding-bottom: 16px;
    
        .top{
            padding: 0.5rem 0;
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .logo{
                display: flex;
                align-items: baseline;
                img{
                    cursor: pointer;
                }
    
                .sticky-categ{
                    display: none;
                }
            }
    
            .sessions{
                display: flex;
    
                .user, .cart{
                    font-size: 20px;
                    margin: 5px;
                    background-color: rgb(224, 224, 224);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
    
                    .icon{
                        color: black;
                    }
                }
            }
    
            .search-drop{
                position: absolute;
                left: 65%;
                top: 20%;
                color: rgb(224, 224, 224);
                font-weight: 200 !important;
                border-left: 1px solid rgb(224, 224, 224);
                padding-left: 15px;
                cursor: pointer;
    
                .icon{
                    font-size: 25px;
                    position: absolute;
                }
            }
        }
        
        .bottom{
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            padding: 0.3rem 0;
            align-items: center;
    
            .links{
                display: flex;
                color: rgb(168, 168, 168);
                font-weight: lighter;
    
                .link{
                    margin: 0 20px;
                    cursor: pointer;
                }
            }
    
            .btn-categ{
                background-color: rgb(245, 245, 245);
                padding: 5px 20px;
                border-radius: 5px;
                padding-right: 30px;
                cursor: pointer;
    
                .icon{
                    font-size: 20px;
                    margin-right: 5px;
                    position: absolute;
                    margin-top: 3px;
                }
            }
        }
    }
    .children{
        padding-top: 130px;
    }
}

.nav.sticky{
    box-shadow: 0px 4px 16px rgba(136, 136, 136, 0.2);
    position: sticky;
    width: 100%;
    z-index: 9999;
    background-color: white !important;
    * .ant-affix{
        background-color: white !important;
        width: 100% !important;
        box-shadow: 0px 4px 16px rgba(184, 184, 184, 0.2);
    }

    .bottom{
        display: none;
    }

    .top{
        .logo{
            .sticky-categ{
                display: block;
                margin-left: 20px;
                align-items: baseline;
                cursor: pointer;
                color: rgb(168, 168, 168);
                z-index: 99999 !important;
    
                .btn-categ{
                    .icon-categ{
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.categ-menus{
    width: 300px !important;
    padding: 10px;
    position: absolute;

    li{
        padding: 15px;
    }
}
.sticky-categ-menus{
    display: block;
    position: absolute;
    box-shadow: 0px 0px 20px rgba(136, 136, 136, 0.2) !important;
}
.ant-menu-vertical{
    border: none !important;
}

.cart-drawer{
    .header{
        font-weight: 600;
        display: flex;
        align-items: center;
        .icon{
            margin-right: 10px;
            font-size: 25px;
        }
    }
    .cart{
        .item{
            display: flex;
            align-items: center;
            padding: 10px 0px;
            border-bottom: 1px solid rgb(224, 224, 224);
            margin-bottom: 20px;
            .prod{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 80%;
                .info{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img{
                        max-width: 70px;
                        max-height: 70px;
                        margin-right: 10px;
                    }
                    .name{
                        font-weight: 600;
                        font-size: 12px;
                    }
                    .sub-price{
                        font-size: 10px;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
                .action{
                    color: rgba(0, 0, 0, 0.5);
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            .qty-manag{
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .plus, .minus{
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    color: $color_default;
                    border: 1px solid #eeb79c;
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    background-color: white !important;
                    &:hover{
                        background-color: $color_default !important;
                        color: #fff;
                    }
                    &:disabled{
                        background-color: rgb(199, 199, 199) !important;
                        color: gray;
                        border: none;
                    }
                }
                .qty{
                    font-weight: 600;
                    margin: 5px 0px;
                }
            }
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;

        .btn.checkout{
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            margin-bottom: 10px;
        }
        .btn.view-cart{
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            background-color: white;
            border: 1px solid $color_default;
            color: $color_default;
            &:hover, &:active, &:focus{
                background-color: $color_default;
                color: white;
            }
        }
    }
}