.page{
    .nav{
        width: 100%;
        background-color: #fff;
        transition: all .3s ease-in-out;
        padding-bottom: 16px;
        padding-top: 16px;
    
        .top{
            padding: 0.5rem 0;
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .logo{
                display: flex;
                align-items: baseline;
                img{
                    cursor: pointer;
                }
    
                .sticky-categ{
                    display: none;
                }
            }
    
            .sessions{
                display: flex;
    
                .user, .cart{
                    font-size: 20px;
                    margin: 5px;
                    background-color: rgb(224, 224, 224);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
    
                    .icon{
                        color: black;
                    }
                }
            }
    
            .search{
                position: relative;
                .search-drop{
                    position: absolute;
                    left: 70%;
                    top: 8%;
                    color: rgb(224, 224, 224);
                    font-weight: 200 !important;
                    border-left: 1px solid rgb(224, 224, 224);
                    padding-left: 10px;
                    cursor: pointer;
        
                    .icon{
                        font-size: 25px;
                        position: absolute;
                    }
                    .ae .aj{
                        padding: 0px !important;
                        font-size: 14px;
                        font-weight: normal;
                        .av{
                            margin-left: 5px !important;
                        }
                    }
                }
                .result{
                    position: absolute;
                    width: 40rem;
                    min-height: 20px;
                    background-color: white;
                    box-shadow: 0 1px 3px rgb(207, 207, 207);
                    z-index: 9999;
                    .loading{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .list{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        padding: 20px;
                        .item{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 10px;
                            cursor: pointer;
                            transition: all .3s ease;
                            &:hover{
                                background-color: rgb(238, 238, 238);
                            }
                            .first{
                                display: flex;
                                .cover{
                                    width: 100px;
                                    height: 70px;
                                    img{
                                        max-width: 100%;
                                        max-height: 100%;
                                    }
                                }
                                .rate{
                                    font-size: 12px;
                                    li:not(:last-child){
                                        margin-right: 2px !important;
                                    }
                                }
                            }
                            &:not(:last-child){
                                border-bottom: 1px solid rgb(221, 221, 221);
                            }
                        }
                    }
                }
            }
        }
        
        .bottom{
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            padding: 0.3rem 0;
            align-items: center;
    
            .links{
                display: flex;
                color: rgb(168, 168, 168);
                font-weight: lighter;
    
                .link{
                    margin: 0 20px;
                    cursor: pointer;
                }
            }
    
            .btn-categ{
                background-color: rgb(245, 245, 245);
                padding: 5px 20px;
                border-radius: 5px;
                padding-right: 30px;
                cursor: pointer;
    
                .icon{
                    font-size: 20px;
                    margin-right: 5px;
                    position: absolute;
                    margin-top: 3px;
                }
            }
        }
    }
    .footer{
        box-shadow: none;
        cursor: unset;
        background-color: rgb(15, 52, 96);
        width: 100%;
        padding: 80px 15%;
        display: flex;
        justify-content: space-between;
        .block{
            color: rgb(174, 180, 190);
            width: calc(100% / 4 - 40px);
            &:first-of-type{
                width: calc(100% / 4);
                margin-right: 30px;
            }
            &:last-of-type{
                margin-left: 30px;
                width: calc(100% / 4);
            }
            .title{
                font-size: 25px;
                font-weight: 600;
                line-height: 1;
                margin-bottom: 1.25rem;
                color: white;
            }
            .logo{
                margin-bottom: 2rem;
            }
            .links{
                .link{
                    display: block;
                    padding: 0.3rem 0rem;
                    color: rgb(174, 180, 190);
                    cursor: pointer;
                    border-radius: 4px;
                    transition: all .3s ease-in-out;
                    &:hover{
                        color: white;
                    }
                }
            }
            .address, .phone, .email{
                padding: 0.3rem 0rem;
            }
            .socials{
                padding: 0.3rem 0rem;
                display: flex;
                .social{
                    display: block;
                    color: rgb(174, 180, 190);
                    font-size: 16px;
                    box-shadow: none;
                    cursor: pointer;
                    margin: 5px;
                    padding: 5px 10px;
                    padding-top: 10px;
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 30%;
                    transition: all .3s ease-out;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.3);
                        color: white;
                    }
                }
            }
        }
    }
    .children{
        min-height: 60vh;
    }
}

.nav.sticky{
    box-shadow: 0px 4px 16px rgba(136, 136, 136, 0.2);
    position: sticky;
    width: 100%;
    z-index: 9999;
    background-color: white !important;
    * .ant-affix{
        background-color: white !important;
        width: 100% !important;
        box-shadow: 0px 4px 16px rgba(184, 184, 184, 0.2);
    }

    .bottom{
        display: none;
    }

    .top{
        .logo{
            .sticky-categ{
                display: block;
                margin-left: 20px;
                align-items: baseline;
                cursor: pointer;
                color: rgb(168, 168, 168);
                z-index: 9999 !important;
    
                .btn-categ{
                    .icon-categ{
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.categ-menus{
    width: 300px !important;
    padding: 10px;
    position: absolute;

    li{
        padding: 15px;
        &.ant-dropdown-menu-submenu{
            padding: 0px;
            div{
                padding: 15px;
            }
        }
    }
}
.ant-dropdown-menu-sub{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    .ant-dropdown-menu-item{
        padding: 0px;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    .sub-item{
        font-size: 13px;
        margin: 10px 0;
        color: gray;
        cursor: pointer;
    }
    .categ-sub:not(:first-of-type){
        margin-left: 40px;
    }
}
.sticky-categ-menus{
    display: block;
    position: absolute;
    box-shadow: 0px 0px 20px rgba(136, 136, 136, 0.2) !important;
}
.ant-menu-vertical{
    border: none !important;
}

.cart-drawer{
    .header{
        font-weight: 600;
        display: flex;
        align-items: center;
        .icon{
            margin-right: 10px;
            font-size: 25px;
        }
    }
    .cart{
        .item{
            display: flex;
            align-items: center;
            padding: 10px 0px;
            border-bottom: 1px solid rgb(224, 224, 224);
            margin-bottom: 20px;
            .prod{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 80%;
                .info{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img{
                        max-width: 70px;
                        max-height: 70px;
                        margin-right: 10px;
                    }
                    .name{
                        font-weight: 600;
                        font-size: 12px;
                    }
                    .sub-price{
                        font-size: 10px;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
                .action{
                    color: rgba(0, 0, 0, 0.5);
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            .qty-manag{
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .plus, .minus{
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    color: $color_default;
                    border: 1px solid #eeb79c;
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    background-color: white !important;
                    &:hover{
                        background-color: $color_default !important;
                        color: #fff;
                    }
                    &:disabled{
                        background-color: rgb(199, 199, 199) !important;
                        color: gray;
                        border: none;
                    }
                }
                .qty{
                    font-weight: 600;
                    margin: 5px 0px;
                }
            }
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;

        .btn.checkout{
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            margin-bottom: 10px;
        }
        .btn.view-cart{
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            background-color: white;
            border: 1px solid $color_default;
            color: $color_default;
            &:hover, &:active, &:focus{
                background-color: $color_default;
                color: white;
            }
        }
    }
}