.orders-list{
    width: 80%;
    margin: auto;
    margin-top: 2.5%;
    
    .title{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
        .icon{
            color: $color_default;
        }
    }
    * table{
        background-color: $bg_color !important;
    }
    * thead tr{
        display: flex;
        justify-content: space-between;
    }
    * thead tr th{
        width: 200px;
        background-color: $bg_color !important;
        &:not(:last-of-type){
            width: 100%;
        }
    }
    * tr{
        display: table-row-group;
        margin-bottom: 12px;
    }
    * tbody{
        tr{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
            background-color: white;
            padding: 0px 10px;
            border-bottom: none !important;
            &:hover{
                background-color: white !important;
            }
            
            td{
                width: 200px;
                border: none !important;
                cursor: pointer;
                background-color: white !important;
                &:hover{
                    background-color: white !important;
                }
                &:not(:last-of-type){
                    width: 100%;
                }
                .view-detail-btn{
                    outline: none;
                    border: none;
                    cursor: pointer;
                    border-radius: 50%;
                    font-weight: 600;
                    color: inherit;
                    transition: all 150ms ease-in-out 0s;
                    background-color: rgb(255, 255, 255);
                    padding: 7px 12px;
                    // font-size: 18px;
                    &:hover{
                        background-color: rgb(243, 245, 249);
                    }
                }
            }
        }
    }
}

.order-details{
    width: 80%;
    margin: auto;
    margin-top: 2.5%;
    .title{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
        .icon{
            color: $color_default;
        }
    }
    .card{
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
        background-color: white;

        .header{
            padding: 12px;
            background-color: rgb(243, 245, 249);
            display: flex;
            justify-content: space-between;
            align-items: center;
            .order-ref, .order-date{
                span{
                    // font-size: 1.2rem;
                    font-weight: 500;
                }
            }
        }
        .items{
            display: flex;
            flex-direction: column;
            padding: 20px;
            .item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px;
                &:not(:last-of-type){
                    border-bottom: 1px solid rgb(243, 245, 249);
                    margin-bottom: 10px;
                }
                .prod{
                    display: flex;
                    align-items: center;
                    .pic{
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    .info{
                        margin-left: 20px;
                        .name{
                            font-weight: 500;
                        }
                        .price{
                            font-weight: normal;
                            color: rgb(165, 165, 165);
                        }
                    }
                }
                .propertys{
                    color: rgb(165, 165, 165);
                }
                .action{
                    color: $color_default;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all .3s ease-in-out 0s;
                    padding: 11px 1.5rem;
                    border-radius: 5px;
                    &:hover{
                        background-color: rgba(221,73,0, 0.1);
                    }
                }
            }
        }
    }
    .extra{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-bottom: 20px;
        
        .left{
            width: 45%;
            .shipping-address, .gift{
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
                background-color: white;
                min-height: 120px;
                word-wrap: break-word;
                padding: 20px;
                border-radius: 10px;
                .title{
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }
            .gift{
                position: relative;
                margin-top: 20px;
                height: 90px;
                overflow: hidden;
                display: flex;
                align-items: center;
                .icon{
                    width: 60px;
                    height: 60px;
                    color: $color_default;
                    font-size: 30px;
                    transform: rotate3d(0, 0, 1, 45deg);
                    margin-right: 10px;
                    background-color: rgba(226, 94, 0, 0.1);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .totals{
            .title{
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            width: 50%;
            background-color: white;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
            padding: 20px;
            border-radius: 10px;
            .total, .sub-total, .reduction, .shipping, .tax{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                color: rgba(0, 0, 0, 0.5);
                .price{
                    font-size: 14px;
                    font-weight: 600;
                    color: black;
                }
            }
            .total{
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                padding-top: 15px;
                .price{
                    font-size: 16px;
                    font-weight: 600;
                    color: black;
                }
            }
        }
    }
}

.ant-pagination{
    justify-content: center !important;
    li{
        border-radius: 50%;
        .ant-pagination-item-link{
            border-radius: 50% !important;
        }
    }
    .ant-pagination-item.ant-pagination-item-active{
        border-color: $color_default !important;
        color: $color_default !important;
        a{
            color: $color_default !important;
        }
    }
}