.profile{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 50px;
    .header{
        .title{
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 1rem;
            .icon{
                color: $color_default;
                margin-right: 10px;
            }
        }
        .menu{
            display: none;
        }
    }
    .user-cards{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        .stats{
            width: calc(100% - 330px);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .card{
            background-color: white;
            border-radius: 7px;
            padding: 20px 40px;
            box-shadow: 0 1px 3px rgba(107, 107, 107, 0.1);
            &.user{
                width: 300px;
                display: flex;
                align-items: center;
                .info{
                    margin-left: 10px;
                    .fullname{
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .email{
                        color: rgb(125, 135, 156);
                    }
                }
            }
            .stat{
                font-size: 20px;
                font-weight: 600;
                color: $color_default;
                margin-bottom: 10px;
            }
            .stat-name{
                color: rgb(125, 135, 156);
                font-size: 13px;
                font-weight: 200;
                line-height: 1.5;
            }
        }
    }
    .user-infos{
        margin-top: 30px;
        background-color: white;
        border-radius: 7px;
        padding: 40px 40px;
        box-shadow: 0 1px 3px rgba(107, 107, 107, 0.1);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .section{
            .title{
                color: rgb(125, 135, 156);
                font-size: 13px;
            }
        }
    }
    .edit-btn{
        width: 100px;
        margin-top: 30px;
        background-color: rgb(160, 160, 160);
        color: white;
        border: none;
        outline: 0;
        border-radius: 5px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;
        font-weight: 600;
        cursor: pointer;
        &:hover, &:focus {
            background-color: rgb(182, 182, 182);
            color: white;
        }
        .icon{
            margin-right: 5px;
        }
    }
    .profile-form{
        position: relative;
        height: 0 !important;
        overflow: hidden;
        background-color: white;
        border-radius: 7px;
        box-shadow: 0 1px 3px rgba(107, 107, 107, 0.1);
        margin-top: 30px;
        padding: 0px;
        transition: all .3s ease-in-out;
        .pic{
            width: 100px;
            height: 100px;
            background-color: $bg_color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            overflow: hidden;
            .avatar{
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    max-width: 150%;
                    max-height: 150%;
                }
                .icon{
                    font-size: 50px;
                    color: rgb(125, 135, 156);
                }
            }
            .edit-icon{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                margin-top: 5%;
                margin-left: 4%;
                background-color: rgb(125, 135, 156);
                color: white;
                cursor: pointer;
                transition: all .3s ease-in-out;
                &:hover, &:focus {
                    background-color: rgb(160, 160, 160);
                    color: white;
                }
            }
        }
        .form-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                width: 47%;
                label{
                    font-weight: normal;
                }
            }
            .btn.btn-save{
                width: 30%;
                height: 45px;
                padding: auto 40px;
            }
        }
        &.visible{
            height: auto !important;
            padding: 40px 40px;
        }
    }
}