@media (max-width: 600px) {
    .profile{
        .header{
            display: flex;
            justify-content: space-between;
            .title{
                font-size: 20px;
            }
            .menu{
                display: block;
                cursor: pointer;
                .icon{
                    font-size: 20px;
                }
            }
        }
        .user-cards{
            margin-top: 10px;
            flex-direction: column;
            .card.user{
                width: 100%;
            }
            .stats{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 10px;
                .card{
                    width: calc(50% - 5px);
                    margin-bottom: 10px;
                }
            }
        }
        .user-infos{
            padding: 20px;
            .section{
                width: calc(50% - 5px);
                word-wrap: break-word;
                margin-bottom: 10px;
            }
        }
        .profile-form{
            .form-row{
                display: block;
                div{
                    width: 100%;
                }
                .btn.btn-save{
                    width: 100%;
                }
            }
        }
    }

    .drawer{
        * .menu{
            font-size: 12px;
            .title{
                font-size: 12px;
                text-transform: uppercase;
                padding: 26px 0px;
                color: rgb(125, 135, 156);
            }
        }
    }
    .ant-menu-inline .ant-menu-item::after{
        border-color: $color_default;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background-color: rgba(209, 209, 209, 0.1);
    }
    .ant-menu-item-selected{
        color: $color_default;
    }
}